@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "PT Sans";

  src: url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Roboto";

  src: url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansold.woff") format("woff");
}

html {
  margin: 0;

  font-family: inherit;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;

  font-family: "PT Sans", "Arial", sans-serif;

  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.logo {
  position: relative;

  display: flex;
  justify-content: center;
  height: 0;
}

.logo__link {
  height: 72px;
}

.logo__img {
  vertical-align: middle;
}

.main-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0;
  padding: 0;

  list-style: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}

.main-menu__item {
  width: 240px;

  text-align: center;
}

.main-menu__item:nth-child(4n-2) {
  margin-right: 240px;
}

.main-menu__link {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 15px;
  overflow: hidden;

  color: #000000;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;

  transition: color 0.3s, opacity 0.3s;
}

.main-menu__link:hover,
.main-menu__link:focus {
  color: #81b3d2;
}

.main-menu__link:active {
  opacity: 0.3;
}

.main-menu__link--current {
  color: #766357;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;

  background-color: rgba(121, 85, 72, 0.3);
  background-image: url(../img/intro-mask.svg), url(../img/background_photo.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position: bottom center, top center;
  background-size: contain, cover;
}

.banner-svg__bg {
  fill: transparent;
}

.benefits {
  margin: 60px 0;
  padding: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
}

.benefits__descr {
  width: 600px;
  margin: 0 auto 40px;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.benefits__wide-descr {
  width: 600px;
  margin: 0 auto 50px;
}

.benefits__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
  line-height: 21px;

  counter-reset: counter-name;
}

.benefits-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  order: -1;
  box-sizing: border-box;
  width: 400px;
  min-height: 250px;
  padding: 50px;

  background-color: #eeeeee;
}

.benefits-item::before {
  content: "— №"counter(counter-name)" —";

  margin: 0 0 30px;

  counter-increment: counter-name;
}

.benefits-item--wide {
  width: 100%;
  min-height: 250px;

  color: #ffffff;

  background-color: #81b3d2;
}

.benefits-item--left-bg {
  order: -2;
  padding-left: 850px;

  background-image: url(../img/pic-2.jpg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 800px auto;
}

.benefits-item--right-bg {
  order: -4;
  padding-right: 850px;

  background-image: url(../img/pic-1.jpg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 800px auto;
}

.benefits-item--white {
  order: -3;
  min-height: 300px;

  background-color: #ffffff;
}

.benefits-item--white::before {
  content: "";

  width: 70px;
  height: 70px;
  margin: 0 0 30px;

  background-color: #eeeeee;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 50%;
}

.benefits-item--hotels::before {
  background-color: transparent;
  background-image: url(../img/icons/icon-1.svg);
  border-radius: 0;
}

.benefits-item--eat::before {
  background-color: transparent;
  background-image: url(../img/icons/icon-2.svg);
  border-radius: 0;
}

.benefits-item--souvenires::before {
  background-color: transparent;
  background-image: url(../img/icons/icon-3.svg);
  border-radius: 0;
}

.benefits-item--grey {
  order: -1;

  background-color: #eeeeee;
}

.benefits-item__title {
  margin: 0 0 30px;

  font-weight: 700;
  font-size: 21px;
}

.benefits-item__descr {
  width: 100%;
  margin: 0;
}

.search {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 550px;
  margin: 0 auto 60px;

  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
}

.search__title {
  order: 1;
  margin: 0;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
}

.search__link {
  display: block;
  padding: 30px;

  color: #ffffff;
  text-decoration: none;

  background-color: #766357;

  transition: color 0.3s, background-color 0.3s;
}

.search__link:hover,
.search__link:focus {
  background-color: #604e43;
}

.search__link:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.search__descr {
  margin: 0 0 30px;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.search__wide-descr {
  margin: 0 0 30px;
}

.search-form {
  position: absolute;
  top: 100%;

  display: flex;
  flex-direction: column;
  order: 2;
  box-sizing: border-box;
  width: 100%;
  min-height: 400px;
  padding: 50px;

  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}

.search-form__row {
  display: flex;
  justify-content: space-between;
  margin: 0 0 30px;
}

.search-form__col {
  display: flex;
  width: 220px;
}

.search-form__button {
  padding: 15px;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;

  transition: color 0.3s, background-color 0.3s;
}

.search-form__button:hover,
.search-form__button:focus {
  background-color: #669ec0;
}

.search-form__button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.search-form__label {
  position: relative;

  display: flex;
  align-items: center;
  height: 40px;
  margin: 0 0 30px;
}

.search-form__label--qtty {
  margin: 0 auto 0 0;
}

.search-form__input {
  box-sizing: border-box;
  width: 350px;
  height: 40px;
  margin-left: auto;
  padding: 5px 15px;

  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;

  transition: background-color 0.3s, border-color 0.3s;
}

.search-form__input::placeholder {
  color: #000000;
}

.search-form__input:hover {
  background-color: #ebebeb;
  border: 2px solid #ebebeb;
}

.search-form__input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  outline: none;
}

.search-form__input--qtty {
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 5px;

  text-align: center;

  -moz-appearance: textfield;
}

.search-form__input--qtty::-webkit-outer-spin-button,
.search-form__input--qtty::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.search-form__calendar-button {
  position: absolute;
  top: 0;
  right: 0;

  width: 40px;
  height: 40px;

  background-color: transparent;
  border: none;
}

.search-form__qtty-button {
  width: 40px;
  height: 40px;
  padding: 5px;

  font-size: 0;

  background-color: #f2f2f2;
  border: none;
}

.search-form__qtty-button rect,
.search-form__calendar-button path {
  transition: fill 0.3s;
}

.search-form__qtty-button:hover rect,
.search-form__qtty-button:focus rect,
.search-form__calendar-button:hover path,
.search-form__calendar-button:focus path {
  fill: #000000;
}

.search-form__qtty-button:active rect,
.search-form__calendar-button:active path {
  fill: #81b3d2;
}

.map_img {
  vertical-align: middle;
}

.filter {
  padding: 30px;

  background-image: url(../img/filter_background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.filter-form {
  display: flex;
}

.filter-form__fieldset {
  display: flex;
  flex-direction: column;
  margin: 0 100px 0 0;
  padding: 0;

  border: none;
}

.filter-form__container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.filter-form__legend {
  margin: 0 0 30px;

  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-form__label {
  position: relative;

  margin: 0 0 20px;
  padding: 0 0 0 40px;

  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #ffffff;
  text-transform: uppercase;

  transition: opacity 0.3s;
}

.filter-form__label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 27px;
  height: 23px;

  background-image: url(../img/icons/checkbox-off.svg);
  background-repeat: no-repeat;
  background-position: left center;
}

.filter-form__checkbox:checked + .filter-form__label::before {
  background-image: url(../img/icons/checkbox-on.svg);
}

.filter-form__checkbox:disabled + .filter-form__label::before {
  opacity: 0.3;
}

.filter-form__label:hover,
.filter-form__checkbox:focus + .filter-form__label {
  opacity: 0.6;
}

.filter-form__label:active {
  opacity: 1;
}

.range-filter {
  width: 300px;
  margin: 0;
}

.range-filter__values {
  display: flex;
  margin: 0 0 30px;

  border: 2px solid #ffffff;
}

.range-filter__label {
  width: 50%;
  padding: 5px 20px;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;

  border-right: 2px solid #ffffff;
}

.range-filter__label:last-child {
  border-right: none;
}

.range-filter__input {
  width: 50px;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: transparent;
  border: none;

  -moz-appearance: textfield;
}

.range-filter__input::-webkit-outer-spin-button,
.range-filter__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}



.range-filter-scroll__scale {
  position: relative;

  height: 2px;
  margin: 15px 10px;

  background-color: rgba(255, 255, 255, 0.3);
}

.range-filter-scroll__bar {
  position: absolute;
  top: 0;
  left: 0;

  width: 75%;
  height: 2px;

  background-color: #ffffff;
}

.range-filter-scroll__button {
  position: absolute;
  top: -10px;

  width: 20px;
  height: 22px;

  background-color: transparent;
  background-image: url(../img/icons/filter-button.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
}

.range-filter-scroll__button--left {
  left: -10px;
}

.range-filter-scroll__button--right {
  right: -10px;
}

.range-filter-scroll__button--left:hover,
.range-filter-scroll__button--left:focus {
  top: -11px;
  left: -11px;

  width: 22px;
  height: 24px;
}

.range-filter-scroll__button--right:hover,
.range-filter-scroll__button--right:focus {
  top: -11px;
  right: -11px;

  width: 22px;
  height: 24px;
}

.filter-form__button {
  align-self: center;
  padding: 5px 20px;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: transparent;
  border: 2px solid #ffffff;

  transition: color 0.3s, background-color 0.3s;
}

.filter-form__button:hover,
.filter-form__button:focus {
  color: #000000;

  background-color: #ffffff;
}

.sort {
  display: flex;
  margin: 30px 0 30px 155px;

  text-transform: uppercase;
}

.sort__title {
  margin: 0 40px 0 0;

  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.sort__link {
  margin: 0 40px 0 0;

  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;

  border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
}

.sort__link:hover,
.sort__link:focus {
  color: #81b3d2;

  border-color: #81b3d2;
}

.sort__link:active {
  color: #000000;

  border-color: #000000;
}

.sort__link:hover path,
.sort__link:focus path {
  fill: #000000;
}

.sort__link:active path {
  fill: #81b3d2;
}

.sort__link--active {
  color: #81b3d2;

  border-bottom: 1px dotted #81b3d2;
}

.sort__link--active path {
  fill: #81b3d2;
}

.sort__link--low-to-high {
  margin: 0 10px 0 auto;

  border-color: transparent;
}

.sort__link--high-to-low {
  margin: 0;

  border-color: transparent;
}

.sort__link--high-to-low:hover,
.sort__link--high-to-low:focus,
.sort__link--high-to-low:active,
.sort__link--low-to-high:hover,
.sort__link--low-to-high:focus,
.sort__link--low-to-high:active {
  border-color: transparent;
}

.hotels {
  position: relative;
}

.hotels__qtty {
  position: absolute;
  top: -55px;
  left: 0;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}

.hotels__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style: none;
  text-transform: uppercase;
}

.hotels-item {
  display: flex;
  padding: 30px 0;

  border-top: 1px solid #eeeeee;
}

.hotels-item:last-child {
  border-bottom: 1px solid #eeeeee;
}

.hotels-item__img {
  margin-right: 20px;
}

.hotels-item__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.hotels-item__row {
  display: flex;
  align-items: center;
}

.hotels-item__title {
  margin: 0 20px 0 0;

  font-weight: 700;
  font-size: 21px;
  line-height: 20px;
  color: #000000;
}

.hotels-item__title-link {
  color: #000000;
  text-decoration: none;

  transition: color 0.3s;
}

.hotels-item__title-link:hover,
.hotels-item__title-link:focus {
  color: #81b3d2;
}

.hotels-item__title-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotels-item__type {
  min-width: 120px;
  margin: 0 20px 0 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.hotels-item__star-lvl {
  display: block;
  width: 100px;
  height: 20px;
  margin-left: auto;

  font-size: 0;

  background-image: url(../img/icons/star.svg);
  background-position: right;
  background-size: 20px 20px;
}

.hotels-item__star-lvl-1 {
  width: 20px;
}

.hotels-item__star-lvl-2 {
  width: 40px;
}

.hotels-item__star-lvl-3 {
  width: 60px;
}

.hotels-item__star-lvl-4 {
  width: 80px;
}

.hotels-item__star-lvl-5 {
  width: 100px;
}

.hotels-item__raiting {
  margin-left: auto;
  padding: 5px 20px;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #666666;

  background-color: #f2f2f2;
}

.hotels-item__price {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.hotels-item__link {
  box-sizing: border-box;
  min-width: 120px;
  margin: 0 20px 0 0;
  padding: 5px 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;

  background-color: #81b3d2;

  transition: color 0.3s, background-color 0.3s;
}

.hotels-item__link:hover,
.hotels-item__link:focus {
  background-color: #669ec0;
}

.hotels-item__link:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.hotels-item__book {
  padding: 5px 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;

  background-color: #766357;

  transition: color 0.3s, background-color 0.3s;
}

.hotels-item__book:hover,
.hotels-item__book:focus {
  background-color: #604e43;
}

.hotels-item__book:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.hashtag {
  width: 300px;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.socials {
  display: flex;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.socials__item {
  margin-right: 10px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: block;
  height: 50px;
}

.socials__link .socials-svg__bg,
.socials__link .socials-svg__content {
  transition: fill 0.3s;
}

.socials__link:hover .socials-svg__bg,
.socials__link:focus .socials-svg__bg {
  fill: #669ec0;
}

.socials__link:active .socials-svg__bg {
  fill: #5496bd;
}

.socials__link:active .socials-svg__content {
  fill: rgba(255, 255, 255, 0.3);
}

.socials__img {
  display: block;

  vertical-align: middle;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;

  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}

.copyright__link {
  display: block;
  height: 37px;
  margin-left: 10px;
}

.copyright__img {
  display: block;

  vertical-align: middle;
}

.copyright__link .copyright-svg__content {
  transition: fill 0.3s;
}

.copyright__link:hover .copyright-svg__content,
.copyright__link:focus .copyright-svg__content {
  fill: #81b3d2;
}

.copyright__link:active .copyright-svg__content {
  fill: #bdbbbc;
}

.site-header {
  width: 1200px;
  margin: 0 auto;
}

.site-content {
  width: 1200px;
  margin: 0 auto;
}

.site-footer {
  display: flex;
  align-items: center;
  width: 1200px;
  min-height: 120px;
  margin: 0 auto;
}
